#linkholder {
    position: absolute;
    left: 350px;
    top: 200px;
}

.helpbutton {
    background-image: url("questionmarkicon.png");
    background-size: contain;
    width: 30px;
    height: 30px;
    position: absolute;
    left: 170px;
    top: 0px;

}

#div1 {
    width: 600px;
    height: 40px;
    position: absolute;
}
#div2 {
    width: 600px;
    height: 40px;
    position: absolute;
    top: 60px;
}
#div3 {
    width: 600px;
    height: 40px;
    position: absolute;
    top: 120px;
}
#div4 {
    width: 600px;
    height: 40px;
    position: absolute;
    top: 180px;
}
#div5 {
    width: 600px;
    height: 40px;
    position: absolute;
    top: 240px;
}

#helpText {
    visibility: visible;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 200px;
    left: 600px;
    border: 1px;
    border-color: black;
    border-style: solid;
    font-size: 20px;
}