input {
    position: absolute;
    left: 150px;
}

body {
    font-size: 20px;
    animation: colorSwitch 10s linear infinite forwards;
}

table, td {
    border: 1px solid black;
}

td {
    width: 50px;
    text-align: center;
}

@keyframes colorSwitch {
    0% { background-color: red }
    25% { background-color: yellow }
    50% { background-color: green }
    75% { background-color: blue }
    100% { background-color: red }
}