.tile {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: white;
    z-index: 1;
}
.numberField {
    position: absolute;
    width: 80px;
    height: 80px;
    font-size: 1.5em;
    text-align: center;
}
#record {
    position: absolute;
    top: 0px;
    left: 20px;
    font-size: 1.2em;
}
#main {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 670px;
    height: 610px;
    background-color: #3B6AF3;
    z-index: -1;
}
#turn {
    position: absolute;
    top: 640px;
    left: 50px;
    font-size: 3em;
}
#info {
    position: absolute;
    top: 0px;
    left: 740px;
    width: 700px;
    font-size: 1.2em;
}